<h1>Edit your Character</h1>

<form action="/new" method="post">
  Class Name<input type="text" name="class_name" value="<%=@character.class_name%>"><br>
  Name<input type="text" name="name" value="<%=@character.name%>"><br>
  Strength<input type="number" name="strength" min="3" max="20" value="<%=@character.strength%>"><br>
  Dexterity<input type="number" name="dexterity" min="3" max="20" value="<%=@character.dexterity%>"><br>
  Constitution<input type="number" name="constitution" min="3" max="20" value="<%=@character.constitution%>"><br>
  Intelligence<input type="number" name="intelligence" min="3" max="20" value="<%=@character.intelligence%>"><br>
  Wisdom<input type="number" name="wisdom" min="3" max="20" value="<%=@character.wisdom%>"><br>
  Charisma<input type="number" name="charisma" min="3" max="20" value="<%=@character.charisma%>"><br>
  AC<input type="number" name="ac" value="<%=@character.ac%>"><br>
  Hit Points<input type="number" name="hit_points" value="<%=@character.hit_points%>"><br>
  Other info<input type="text" name="info" size="1000" value="<%=@character.info%>"><br>
  <input type="submit" value="Update">
</form>