<h1>Check out these character sheets</h1><form action="/logout" method="post"><input type="submit" value="Log Out"></form>
<br>
<h2>To Create a New character --></h2><a href="/new">Click Here!</a>
<br>
<h3>To View your characters --></h3><a href="/user/characters">Click Here!</a>
<ul>
<% @characters.each do |x| %>
  <li>Class Name: <%= x.class_name %></li>
  <li>Name: <%= x.name %></li>
  <li>Strength: <%= x.strength %></li>
  <li>Dexterity: <%= x.dexterity %></li>
  <li>Constitution: <%= x.constitution %></li>
  <li>Intelligence: <%= x.intelligence %></li>
  <li>Wisdom: <%= x.wisdom %></li>
  <li>Charisma: <%= x.charisma %></li>
  <li>AC: <%= x.ac %></li>
  <li>Hit Points: <%= x.hit_points %></li>
  <li>Info: <%= x.info %></li>
  To view<a href="/sheet/<%=x.id%>">click here</a></li>
  <br>
<% end %>
</ul>

