<h1>DnD charater sheet</h1>

  <li><%= @character.class_name %></li><br>
  <li><%= @character.name %></li><br>
  <li><%= @character.strength %></li><br>
  <li><%= @character.dexterity %></li><br>
  <li><%= @character.constitution %></li><br>
  <li><%= @character.intelligence %></li><br>
  <li><%= @character.wisdom %></li><br>
  <li><%= @character.charisma %></li><br>
  <li><%= @character.ac %></li><br>
  <li><%= @character.hit_points %></li><br>
  <li><%= @character.info %></li><br>
  <br>
  <% if session[:user_id] == @character.user.id%>
  <form action="/sheet/<%=@character.id%>/edit" method="post"><input type="submit" value="Edit"></form>
  <form action="/sheet/<%=@character.id%>/delete" method="post"><input type="submit" value="Delete"></form>
  <% end %>