<h1>DnD charater sheet</h1>

  <p>Class: <%= @character.class_name %></p>
  <p>Name: <%= @character.name %></p>
  <p>Strength: <%= @character.strength %></p>
  <p>Dexterity: <%= @character.dexterity %></p>
  <p>Constitution: <%= @character.constitution %></p>
  <p>Intelligence: <%= @character.intelligence %></p>
  <p>Wisdom: <%= @character.wisdom %></p>
  <p>Charisma: <%= @character.charisma %></p>
  <p>AC: <%= @character.ac %></p>
  <p>Hit Points: <%= @character.hit_points %></p>
  <p>Info:<br><%= @character.info %></p>
  <br>
  <% if session[:user_id] == @character.user.id%>
  <form action="/sheet/<%=@character.id%>/edit" method="post"><input type="submit" value="Edit"></form>
  <form action="/sheet/<%=@character.id%>/delete" method="post"><input type="submit" value="Delete"></form>
  <% end %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy">
  