<h1>DnD charater sheet</h1>

  <p><%= @character.class_name %></p><br>
  <p><%= @character.name %></p><br>
  <p><%= @character.strength %></p><br>
  <p><%= @character.dexterity %></p><br>
  <p><%= @character.constitution %></p><br>
  <p><%= @character.intelligence %></p><br>
  <p><%= @character.wisdom %></p><br>
  <p><%= @character.charisma %></p><br>
  <p><%= @character.ac %></p><br>
  <p><%= @character.hit_points %></p><br>
  <p><%= @character.info %></p><br>
  <br>
  <% if session[:user_id] == @character.user.id%>
  <form action="/sheet/<%=@character.id%>/edit" method="post"><input type="submit" value="Edit"></form>
  <form action="/sheet/<%=@character.id%>/delete" method="post"><input type="submit" value="Delete"></form>
  <% end %>